.btn {
  padding: 9px 20px 9px;
  font-size: 13px;
  height: 28px !important;

  span {
    color: #fff;
  }
}

.input {
  width: 275px;
  height: 47px;
  font-size: 0.8rem;
}

.btn-blue {
  padding: 1rem 1rem 1rem;
  font-weight: 700;
  font-size: 16px;
  height: 47px !important ;
}