$btn-dark: #4B4F58;
$btn-dark-hover: #595c63;

$btn-blue: #0662c1;
$btn-blue-hover: #0068cf;

$link: $btn-blue;
$link-hover: $btn-dark-hover;

$radius: 5px;

$border: 1px solid #e2e3e4;

$shadow: 0px 0px 8px 6px rgba(34, 60, 80, 0.1)