.toolbar {
  background-color: #383c40;
  padding: 0.5rem 0;
  font-size: 0.7rem;

  .choise {
    color: #94969b;
  }

  .toolbar-link {
    color: #fff;
    text-decoration: underline;
    cursor: pointer;

    &:hover {
      text-decoration: none;
    }
  }
}