@import "../../styles/variables.scss";

.banner {
  background-color: #f8f8f8;
  border: 1px solid #e2e3e4;
  padding: 1.3rem 0;

  .logo {
    margin: auto 0;
  }

  ul {
    list-style-type: none;
    font-size: 13px;
    margin-bottom: 0.5rem;
    justify-content: left !important;
  }

  .row {
    gap: 1rem;
  }

  .col {
    align-items: flex-end;
    gap: .5rem !important;

    .border {
      background-color: #fff;
      font-size: 0.75rem;
      cursor: pointer;

      &:hover {
        color: $link;
        span {
          color: $link;
        }
      }
    }

    .number {
      font-size: 1.5rem;
      font-weight: 600;
      color: #000;
    }
  }

  .link {
    font-size: .8rem !important;
  }
}
